
#a {
    background-color: green;
    
}
#b {
    background-color: orange;
    /* visibility: hidden; */

    /* display: none; */

    opacity: .1;

    translate: 0 -10px;
}
#c {
    background-color: purple;
}